.guide-block {
	position: fixed;

	width: 100vw;
	height: 100vh;

	transition: margin-top .3s ease,
	background-color .4s ease;

	background-color: #4f85c6;
}



.guide-step-block {
	position: absolute;

	display: flex;

	width: 100vw;
	height: 4vw;
	margin: 110vw 0 0 0;
	padding: 0 35vw;

	justify-content: space-between;
	align-items: center;
}

.guide-step-indicator {
	width: 2.5vw;
	height: 2.5vw;

	transition: width .2s ease,
	height .2s ease;

	border-radius: 5vw;
	background-color: #fff;
}

.guide-step-indicator-active {
	width: 4vw;
	height: 4vw;
}



.guide-slider {
	display: flex;

	width: 400vw;
	margin-left: 0;

	transition: margin-left .2s ease;
}

.guide-slider-item {
	width: 100vw;
	padding: 6vw 8vw 0 8vw;

	color: #fff;
}


.quide-btns-block {
	position: absolute;

	display: flex;

	width: 100vw;
	margin: 120vw 0 0 0;
	padding: 0 8vw;

	justify-content: space-between;
}

.guide-btn {
	font-size: 5.5vw;
	font-weight: 600;
	line-height: 14vw;

	width: 40vw;

	letter-spacing: .05em;

	border-radius: 4vw;

	-webkit-tap-highlight-color: transparent;
}

.guide-additional-btn {
	color: #fefefe;
}
.guide-additional-btn:active {
	color: #dedede;
}

.guide-main-btn {
	color: #333;
	background-color: #fefefe;
}
.guide-main-btn:active {
	background-color: #dedede;
}


.guide-slider-item-name {
	font-size: 7vw;
	font-weight: 600;
	line-height: 1.3em;

	margin: 0 0 7vw 0;

	text-align: center;
	letter-spacing: .05em;
}

.guide-slider-item-p {
	font-size: 6vw;
	line-height: 1.25em;

	margin: 0 0 5vw 0;

	letter-spacing: .05em;

	color: #efefef;
}

.quide-bold {
	font-weight: 600;

	color: #fff;
}

.icon-example {
	width: 7vw;
	height: 7vw;
	margin-top: 1vw;
}

.guide-slider-slogan {
	font-size: 9vw;
	font-weight: 600;

	margin: 30vw 0 0 0;

	text-align: center;
	letter-spacing: .1em;

}

.smile-img {
	width: 10vw;
	height: 10vw;
}
