.main {
	position: absolute;

	padding: 0 8vw;
}


.card {
	display: flex;
	flex-direction: column;

	margin-top: 7vw;
	margin-bottom: 12vw;

	transition: margin-top .1s ease;
}


.input-field {
	position: relative;
}
.input-field:first-child {
	margin: 0 0 4vw 0;
}

.key-input,
.mess-input {
	font-size: 7vw;

	width: 100%;
	padding: 3vw;

	transition: border-color .3s ease,
	color .3s ease;

	color: #333;
	border: .3vw solid #ddd;
	border-radius: 4vw;
	background: none;

	-webkit-appearance: none;
	    -ms-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.mess-input {
	height: 35vw;
}

.input-field .placeholder {
	font-size: 7vw;

	position: absolute;
	top: 7.8vw;
	left: 2vw;

	padding: 0 1vw;

	transition: opacity .3s ease,
	font-size .3s ease,
	top .3s ease,
	color .3s ease;
	transform: translateY(-50%);

	color: #aaa;
	background-color: #fff;
}

.key-input:valid + .placeholder,
.mess-input:valid + .placeholder {
	font-size: 5vw;

	top: .1vw;

	color: #666;
}
.key-input:focus + .placeholder,
.mess-input:focus + .placeholder {
	font-size: 5vw;

	top: .1vw;

	color: #333;
}

.key-input:valid,
.mess-input:valid {
	transition-delay: .1s;

	color: #444;
	border-color: #666;
}
.key-input:focus,
.mess-input:focus {
	transition-delay: .1s;

	color: #333;
	border-color: #333;
}

.wrong-input-field + .placeholder {
	color: #d4515f;
}
.wrong-input-field {
	border: .3vw solid #d4515f;
}


.action-btn-block {
	display: flex;

	margin: 7vw 0 0 0;

	justify-content: space-between;
}

.action-btn {
	font-size: 5vw;

	width: 40vw;
	height: 15vw;

	transition: border-color .3s ease,
	background-color .3s ease;

	opacity: 1;
	border: 1vw solid #909dbd;
	border-radius: 4vw;
	background-color: #a3b0cf;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;

	-webkit-tap-highlight-color: transparent;
}
.action-btn:active {
	background-color: #b5c1dd;
}

.action-btn:first-child {
	background-image: url('../img/encrypt.svg');
}
.action-btn:last-child {
	background-image: url('../img/decrypt.svg');
}

.action-btn-unavailable {
	border-color: #a0acca;
	background-color: #b9c3dc;
}
.action-btn-unavailable:active {
	border-color: #aa4f4f;
	background-color: #d4515f;
}


.encrypted-status-message {
	font-size: 6vw;

	display: none;

	text-align: center;
	letter-spacing: .1em;
	word-spacing: .1em;

	color: #444;
}
