body {
	font-family: 'Balsamiq Sans', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	overflow: hidden;
}




.show-guide-btn-block {
	position: absolute;

	display: flex;

	width: 100vw;
	margin-top: 103vw;

	justify-content: center;
}

.show-guide-btn {
	font-size: 7vw;

	text-align: center;
	letter-spacing: .05em;

	color: #333;
	border-bottom: .5vw solid #333;
}



.decrypted-message-block {
	position: absolute;
	z-index: 1;
	left: 100vw;

	width: 100vw;
	height: 100vh;
	padding: 0 8vw;

	transition: left .2s ease;

	color: #fff;
	background-color: #51345c;
}

.decrypted-message-name {
	font-size: 7vw;
	font-weight: 600;
	line-height: 1.5em;

	margin: 7vw 0 2vw 0;

	text-align: center;
	letter-spacing: .1em;
}

.decrypted-message {
	font-size: 5vw;
	line-height: 1.7em;

	overflow-y: auto;

	height: 72vw;
	margin: 0 0 12vw 0;

	letter-spacing: .1em;
	word-spacing: .2em;
	word-break: break-word;
}

.decrypted-message-btns-block {
	display: flex;

	justify-content: space-between;
}

.decrypted-message-btn {
	font-size: 5vw;
	font-weight: 600;
	line-height: 14vw;

	width: 40vw;

	border: .5vw solid #fff;
	border-radius: 4vw;

	-webkit-tap-highlight-color: transparent;
}

.main-btn {
	color: #333;
	background: #fff;
}
.main-btn:active {
	background-color: #e8d8ee;
}

.additional-btn {
	color: #fff;
}
.additional-btn:active {
	background-color: #896496;
}




.notification-block {
	position: absolute;
	bottom: -20vw;

	display: none;

	width: 100vw;
	height: 20vw;

	transition: bottom .3s ease;

	border-radius: 9vw 9vw 0 0;
	background: green;

	justify-content: center;
	align-items: center;
}

.notification {
	font-size: 7vw;
	font-weight: 600;

	letter-spacing: .1em;
	word-spacing: .1em;

	color: #fff;
}





.notification-details {
	line-height: 9.5vw;

	display: none;
	overflow-y: auto;

	padding-bottom: 11vw;
}

.notification-details-paragraph {
	font-size: 6vw;
	line-height: 9.5vw;

	margin-bottom: 5vw;

	letter-spacing: .05em;
}
.center {
	font-size: 7vw;
	font-weight: 700;

	text-align: center;
}
.yellow {
	color: #efe988;
}
.red {
	color: #ff6262;
}
.green {
	color: #a3d7a6;
}

.close-details-btn {
	font-size: 6vw;
	font-weight: 700;

	position: fixed;
	z-index: 2;

	display: none;

	width: 86vw;
	height: 11vw;
	margin-top: calc(100vh - 35vw);

	letter-spacing: .05em;

	color: #fff;
	border-radius: 0 0 4vw 4vw;
	background-color: #9775b3;
	box-shadow: 0 -1vw 2vw -1.5vw #222;
}





.clear-btn {
	font-size: 6vw;
	font-weight: 400;

	position: absolute;
	z-index: 1;
	bottom: 0;

	display: none;

	width: 100%;
	padding: 1.8vw 0;

	transition: letter-spacing .2s ease;
	letter-spacing: .1em;

	color: #333;
	background-color: #eee;

	-webkit-tap-highlight-color: transparent;
}
