body {
	font-family: 'Balsamiq Sans', cursive;

	overflow: hidden;
}

.content {
	position: absolute;

	padding: 0 7vw;
}


.app-name {
	font-size: 9vw;
	font-weight: 700;

	width: 100%;
	margin-top: 0;
	margin-bottom: 4vw;
	padding: 5vw 0 0 0;

	text-align: center;
	letter-spacing: .05em;

	color: #226694;
}

.notification {
	position: absolute;
	z-index: 1;

	overflow-y: overlay;

	width: 86vw;
	height: 14vw;
	margin-top: 18vw;

	transition: height .3s ease,
	margin-top .3s ease;

	border-radius: 4vw;
	background-color: #9775b3;
}

.notification-text {
	font-size: 7vw;
	line-height: 14vw;

	text-align: center;
	letter-spacing: .05em;

	color: white;
}

.notification-details {
	line-height: 9.5vw;

	display: none;
	overflow-y: auto;

	padding-bottom: 11vw;
}

.notification-details-paragraph {
	font-size: 6vw;
	line-height: 9.5vw;

	margin: 0 0 2vw 0;
	margin-bottom: 5vw;
	padding: 0 3vw;
	padding: 0 3vw;

	letter-spacing: .05em;

	color: white;
}
.center {
	font-size: 7vw;
	font-weight: 700;

	text-align: center;
}
.yellow {
	color: #efe988;
}
.red {
	color: #ff6262;
}
.green {
	color: #a3d7a6;
}

.close-details-btn {
	font-size: 6vw;
	font-weight: 700;

	position: fixed;
	z-index: 2;

	display: none;

	width: 86vw;
	height: 11vw;
	margin-top: calc(100vh - 10vw - 10vw);

	letter-spacing: .05em;

	color: #fff;
	border-radius: 0 0 4vw 4vw;
	background: none;
	background-color: #9775b3;
	box-shadow: 0 -1vw 2vw -1.5vw #222;
}


.clear-btn {
	font-size: 5vw;

	position: absolute;
	z-index: 1;
	bottom: 0;

	display: none;

	width: 100%;
	padding: 2.5vw 0;

	transition: letter-spacing .2s ease;
	letter-spacing: .05em;

	background-color: #eee;

	columns: #333;
	-webkit-tap-highlight-color: transparent;
}
.clear-btn:active {
	letter-spacing: .15em;
}



.card {
	display: flex;
	flex-direction: column;

	margin: 23vw 0 7vw 0;
	padding: 4vw 4vw;

	border: .2vw solid rgba(0,0,0, .08);
	border-radius: 4vw;
	background-color: #fff;
	box-shadow: 0 1.5vw 3vw rgba(0,0,0, .15);
}




.input-field {
	font-size: 6vw;

	position: relative;
}
.input-field:first-child {
	margin: 0 0 3vw 0;
}

.input-field input,
.input-field textarea {
	font-size: 6vw;

	width: 100%;
	padding: 3vw 3vw;

	transition: border-color .3s ease,
	color .3s ease;

	color: #333;
	border: .2vw solid #ddd;
	border-radius: 2.8vw;
	background: none;

	-webkit-appearance: none;
	    -ms-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.input-field textarea {
	height: 28vw;
}

.input-field .placeholder {
	position: absolute;
	top: 7.3vw;
	left: 2vw;

	padding: 0 1vw;

	transition: opacity .3s ease,
	font-size .3s ease,
	top .3s ease,
	color .3s ease;
	transform: translateY(-50%);

	color: #aaa;
}

.input-field input:valid + .placeholder,
.input-field textarea:valid + .placeholder {
	font-size: 4vw;

	top: .1vw;

	color: #666;
	background-color: #fff;
}
.input-field input:focus + .placeholder,
.input-field textarea:focus + .placeholder {
	font-size: 4vw;

	top: .1vw;

	color: #333;
	background-color: #fff;
}

.input-field input:valid,
.input-field textarea:valid {
	transition-delay: .1s;

	color: #444;
	border-color: #666;
}
.input-field input:focus,
.input-field textarea:focus {
	transition-delay: .1s;

	color: #333;
	border-color: #333;
}



.action-btn-block {
	display: flex;

	margin: 4vw 0 0 0;

	justify-content: space-between;
}

.action-btn {
	font-size: 5vw;

	width: 36.7vw;
	height: 14vw;

	transition: transform .2s ease,
	opacity .3s ease;

	opacity: .9;
	border-radius: 2.8vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;

	-webkit-tap-highlight-color: transparent;
}
.action-btn:active {
	transform: scale(.9, .9);
}

.action-btn:first-child {
	background-color: #d24a43;
	background-image: url('../img/encrypt.svg');
}

.action-btn:last-child {
	background-color: #52ac62;
	background-image: url('../img/decrypt.svg');
}

.action-btn-unavailable {
	opacity: .5;
}
.action-btn-unavailable:active {
	transform: none;

	opacity: .7;
}


.result-block {
	overflow-y: auto;

	max-width: 86vw;
	height: 45vw;
}

.result-name {
	font-size: 5.5vw;
	font-weight: 700;

	margin: 0 0 2vw 0;

	text-align: center;

	color: #444;
}

.result-content {
	font-size: 5vw;
	line-height: 1.3em;

	word-spacing: .1em;
	word-wrap: break-word;

	color: #444;
}
